{% extends "layouts/main.html" %} {% block content %}
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item text-capitalize" aria-current="page">
        <a href="/profile/dashboard">
          {{session.user.type[0:1]}}<span class="text-lowercase"
            >{{session.user.type[1:]}}</span
          >
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item active">Edit Course</li>
      <li class="breadcrumb-item active">{{course.name}}</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="pills-general-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-general"
          type="button"
          role="tab"
          aria-controls="pills-general"
          aria-selected="true"
        >
          General
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="pills-materials-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-materials"
          type="button"
          role="tab"
          aria-controls="pills-materials"
          aria-selected="false"
        >
          Materials
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="pills-exercises-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-exercises"
          type="button"
          role="tab"
          aria-controls="pills-exercises"
          aria-selected="false"
        >
          Exercises
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="pills-grading-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-grading"
          type="button"
          role="tab"
          aria-controls="pills-grading"
          aria-selected="false"
        >
          Grading
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content" id="pills-tabContent">
  <div
    class="tab-pane fade show active"
    id="pills-general"
    role="tabpanel"
    aria-labelledby="pills-general-tab"
    tabindex="0"
  >
    <div class="row">
      <div class="col-md-6">
        <form action="/profile/dashboard/edit-course" method="post">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="courseName"
              name="name"
              value="{{course.name}}"
            />
            <label for="courseName">Course Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="shortDescription"
              name="short_description"
              value="{{course.short_description}}"
            />
            <label for="shortDescription"
              >Short Description (120 characters)</label
            >
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="courseDescription"
              name="description"
              style="height: 200px"
            >
    {{course.description}}</textarea
            >
            <label for="courseDescription"
              >Description (supports markdown)</label
            >
          </div>
          <div class="form-check">
            {% if course.is_hidden %}
            <input
              class="form-check-input"
              type="checkbox"
              id="isHidden"
              name="is_hidden"
              checked
            />
            {% else %}
            <input
              class="form-check-input"
              type="checkbox"
              id="isHidden"
              name="is_hidden"
            />
            {% endif %}
            <label class="form-check-label" for="isHidden">
              Hide course from the public courses page
            </label>
          </div>
          <div class="form-check">
            {% if course.is_public %}
            <input
              class="form-check-input"
              type="checkbox"
              id="isPublic"
              name="is_public"
              checked
            />
            {% else %}
            <input
              class="form-check-input"
              type="checkbox"
              id="isPublic"
              name="is_public"
            />
            {% endif %}
            <label class="form-check-label" for="isPublic">
              Allow public joining (disables invitation code)
            </label>
          </div>
          <input type="hidden" name="course_id" value="{{course.id}}" />
          <button class="btn btn-primary mt-3" type="submit">
            Save changes
          </button>
        </form>
      </div>
      <div class="col-md-6">
        <small class="text-secondary"
          >Invitation Code
          <style>
            .custom-popup {
              --bs-tooltip-max-width: 350px;
            }
          </style>
          <i
            class="fas fa-question-circle"
            data-bs-custom-class="custom-popup"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="Changing the invitation code doesn't remove students which have joined with the old code. To remove students from the course, use the participant manager below."
          ></i
        ></small>
        <form action="/profile/dashboard/edit-invite" method="post">
          <div class="d-flex mb-3">
            <div class="w-100">
              <input
                type="text"
                class="form-control"
                value="{{invitation_code}}"
                id="invitationCode"
                name="invitation_code"
              />
            </div>
            <div class="ms-3 flex-shrink-0">
              <button
                type="button"
                class="btn btn-warning"
                id="randomInvite"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Generate random invitation code"
              >
                <i class="fas fa-sync text-white"></i>
              </button>
              <input type="hidden" name="course_id" value="{{course.id}}" />
              <button class="btn btn-primary" type="submit">Update</button>
            </div>
          </div>
        </form>
        {% if participants|length > 0 %}
        <table
          id="courseParticipants"
          class="table table-striped caption-top"
          style="width: 100%"
        >
          <caption class="text-secondary">
            Manage participants
          </caption>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Email</th>
              <th>Type</th>
              <th>Controls</th>
            </tr>
          </thead>
          <tbody>
            {% for user in participants %}
            <tr>
              <td class="text-center align-middle">
                <img
                  src="https://api.dicebear.com/6.x/initials/png?seed={{user.name}}"
                  alt="User's Avatar"
                  class="rounded-circle"
                  style="height: 25px; width: 25px"
                />
              </td>
              <td class="align-middle">
                {{user.name}} {% if user.id == session.user.id %}
                <b class="text-primary"> (You)</b>
                {% endif %}
              </td>
              <td class="align-middle">{{user.email}}</td>
              {% if user.type == "TEACHER" %}
              <td class="text-primary align-middle">Teacher</td>
              {% elif user.type == "STUDENT" %}
              <td class="text-secondary align-middle">Student</td>
              {% endif %}
              <td class="align-middle">
                <button
                  class="btn btn-danger"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-popup"
                  data-bs-title="Remove user from the course (they can still join if they know the invitation code)"
                >
                  <i class="fas fa-times"></i> Remove
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-secondary text-center mt-5">No participants yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-materials"
    role="tabpanel"
    aria-labelledby="pills-materials-tab"
    tabindex="0"
  >
    <div class="row">
      <div class="col-md-12">
        <h1>Add new material</h1>
        <p>
          You can add new material for the course
          <code>{{course.name}}</code> below:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <form action="/profile/dashboard/create-material" method="post">
          <input type="hidden" name="course_id" value="{{course.id}}" />
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="materialName"
              name="name"
              placeholder="Material name here"
            />
            <label for="courseName">Material name</label>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="materialContent"
              name="content"
              style="height: 350px"
              placeholder="Material content here"
            ></textarea>
            <label for="materialContent">Content</label>
          </div>
          <button class="btn btn-success mt-3">Create new material</button>
        </form>
      </div>
      <div class="col-md-4">
        <p class="text-secondary">Already added course materials:</p>
        <ul>
          {% for material in materials %}
          <li>{{material["name"]}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-exercises"
    role="tabpanel"
    aria-labelledby="pills-exercises-tab"
    tabindex="0"
  >
    <div class="row">
      <div class="col-md-8">
        <p>
          Add assignments (exercises) to course students. Multichoise-questions
          are graded automatically as <b>correct = max points</b> and
          <b>incorrect = 0 points.</b> Open-questions need to be manually graded
          by any of the course teachers in the <b>Grading</b> tab.
        </p>
        <form
          id="exerciseForm"
          action="/profile/dashboard/add-exercise"
          method="post"
        >
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              placeholder="# What is 1+1?"
              id="questionName"
              style="height: 250px"
              name="question"
            ></textarea>
            <label for="questionName">Question (supports markdown)</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              placeholder="10"
              id="points"
              name="points"
              type="number"
            />
            <label for="points">Points (one number only)</label>
          </div>
          <div class="form-floating mb-3">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Answer type selection"
              name="type"
            >
              <option selected disabled>Select answer type</option>
              <option value="MULTICHOISE">Multiple-choice</option>
              <option value="OPEN">Open answer</option>
            </select>
            <label for="floatingSelect">Works with selects</label>
          </div>
          <input type="hidden" name="course_id" value="{{course.id}}" />
          <input
            type="hidden"
            id="multichoiseAnswersInput"
            name="answers"
            value=""
          />
          <button class="btn btn-primary" type="submit">Add assignment</button>
        </form>
      </div>
      <div class="col-md-4">
        <small class="text-secondary">Multiple-choice answers:</small>
        <br />
        <button
          class="btn btn-success my-3"
          data-bs-toggle="modal"
          data-bs-target="#addAnswer"
        >
          Add new
        </button>
        <ul id="multichoiseAnswers" class="mb-3"></ul>
        <small class="text-secondary">Already added exercises:</small>
        <ul>
          {% for exercise in exercises %}
          <li>
            {{exercise.question[0:25]}}... {% if exercise.type == "OPEN" %}<b
              class="text-primary"
              >OPEN</b
            >{% else %}<b>MULTICHOISE</b>{% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-grading"
    role="tabpanel"
    aria-labelledby="pills-grading-tab"
    tabindex="0"
  >
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-fill mb-3" id="pills2-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="pills2-course-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills2-course"
              type="button"
              role="tab"
              aria-controls="pills2-course"
              aria-selected="true"
            >
              Course Grades
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills2-open-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills2-open"
              type="button"
              role="tab"
              aria-controls="pills2-open"
              aria-selected="false"
            >
              Open Exercise Grades
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills2-course"
            role="tabpanel"
            aria-labelledby="pills2-course-tab"
            tabindex="0"
          >
            <small class="text-secondary">Course students:</small>
            <table class="table table-striped">
              <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Total Points</th>
                <th>Grade</th>
              </thead>
              <tbody>
                {% for student in graded_students %}
                <tr>
                  <td>{{student.name}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.total_points}}</td>
                  <td>
                    {% if student.grade %} {{student.grade}} {% else %}
                    <button
                      class="btn btn-primary btn-sm grade-student-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#gradeStudent"
                      data-id="{{student.id}}"
                      data-name="{{student.name}}"
                      data-email="{{student.email}}"
                    >
                      Give grade
                    </button>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div
            class="tab-pane fade"
            id="pills2-open"
            role="tabpanel"
            aria-labelledby="pills2-open-tab"
            tabindex="0"
          >
            ...2
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add multichoise answer modal -->
<div
  class="modal fade"
  id="addAnswer"
  tabindex="-1"
  aria-labelledby="addAnswerLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addAnswerLabel">Add new answer</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="addAnswerInput"
            placeholder="name@example.com"
          />
          <label for="addAnswerInput">Answer</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            val="off"
            id="addAnswerCheck"
          />
          <label class="form-check-label" for="addAnswerCheck">
            Correct answer
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="addAnswerBtn">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Add grade student modal -->
<div
  class="modal fade"
  id="gradeStudent"
  tabindex="-1"
  aria-labelledby="gradeStudentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="gradeStudentLabel">Grade a student</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="mb-3" id="gradeStudentText"></p>
        <form
          id="gradeUserForm"
          action="/profile/dashboard/grade-user"
          method="post"
        >
          <input type="hidden" name="course_id" value="{{course.id}}" />
          <input type="hidden" name="user_id" value="" id="gradeStudentId" />
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              name="grade"
            >
              <option selected disabled>Select a grade</option>
              <option value="A">A - 0</option>
              <option value="B">B - 1</option>
              <option value="C">C - 2</option>
              <option value="M">M - 3</option>
              <option value="E">E - 4</option>
              <option value="L">L - 5</option>
            </select>
            <label for="floatingSelect">Select appropriate grade</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="submitGradeBtn">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    const random = length => {
      let result = "";
      const characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      let counter = 0;
      while (counter < length) {
        result += characters.charAt(
          Math.floor(Math.random() * characters.length)
        );
        counter += 1;
      }
      return result;
    };
    const tooltipTriggerList = document.querySelectorAll(
      '[data-bs-toggle="tooltip"]'
    );
    const tooltipList = [...tooltipTriggerList].map(
      tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl)
    );
    $("#courseParticipants").DataTable();
    $("#randomInvite").click(() => $("#invitationCode").val(random(15)));

    // Multiple-choice answers
    let answers = [];

    const renderAnswers = () => {
      // Clear list
      $("#multichoiseAnswers").html("");
      answers.forEach(obj =>
        $("#multichoiseAnswers").append(
          `<li>${obj.answer} - ${
            obj.isCorrect
              ? "<b class='text-primary'>Correct</b>"
              : "<b>Incorrect</b>"
          } <button type="button" class="btn btn-link btn-sm remove-answer-btn" data-id='${
            obj.id
          }'>Remove</button></li>`
        )
      );
    };
    const addAnswer = () => {
      const answer = $("#addAnswerInput").val();
      const isCorrect = $("#addAnswerCheck").prop("checked");
      if (answer.length === 0) return;

      const id = random(10);
      answers.push({ id, answer, isCorrect });
      renderAnswers();
    };
    const removeAnswer = e => {
      const id = $(e.target).data("id");
      answers = [...answers.filter(a => a.id !== id)];
      renderAnswers();
    };
    const submitForm = function (e) {
      e.preventDefault();
      const form = $(e.target);
      const values = new URLSearchParams(form.serialize());

      // If type isn't specified
      if (values.get("type") === undefined)
        return alert("Please choose the exercise type!");

      // If type is multichoise and no answers were provided
      if (values.get("type") === "MULTICHOISE" && answers.length < 2)
        return alert(
          "For multiple-choice questions, please provide at least two (2) answers!"
        );

      // Parse answers into a string consisting:
      // answer,correct;answer,correct...
      let inputValue = "";
      answers.forEach((answer, index) => {
        const lastIndex = index === answers.length - 1;
        inputValue += `${answer.answer},${answer.isCorrect}${
          lastIndex ? "" : ";"
        }`;
      });

      $("#multichoiseAnswersInput").val(inputValue);
      this.submit();
    };

    $("#addAnswerBtn").click(addAnswer);
    $(document).on("click", ".remove-answer-btn", removeAnswer);
    $("#exerciseForm").submit(submitForm);
    $("#submitGradeBtn").click(() => $("#gradeUserForm").submit());

    const addAnswerModal = document.getElementById("addAnswer");
    addAnswerModal.addEventListener("hidden.bs.modal", () => {
      // Clear inputs on modal close
      $("#addAnswerInput").val("");
      $("#addAnswerCheck").prop("checked", false);
    });

    $(".grade-student-btn").click(e => {
      const id = $(e.target).data("id");
      const name = $(e.target).data("name");
      const email = $(e.target).data("email");

      $("#gradeStudentText").html(
        `Give grade for student <b>${name} (${email})</b>.`
      );
      $("#gradeStudentId").val(id);
    });
  });
</script>
{% endblock %}
