{% extends "layouts/main.html" %}
{% block content %}
<style>
  .us-none {
    user-select: none;
  }
</style>
{% if exercises|length > 0 %}
<div class="row">
  <div class="col-md-2 offset-1">
    <ul class="nav nav-pills mb-3 flex-column" id="pills-tab" role="tablist">
      {% for exercise in exercises %}
        <li class="nav-item" role="presentation">
          <button
            {% if exercises.index(exercise) == 0 %}
            class="nav-link active"
            {% else %}
            class="nav-link"
            {% endif %}
            data-bs-toggle="pill"
            data-bs-target="#pills-{{exercises.index(exercise)}}"
            type="button"
            role="tab"
            aria-controls="pills-{{exercises.index(exercise)}}"
            aria-selected="true"
          >
            Exercise {{exercises.index(exercise) + 1}}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-8">
    <div class="tab-content" id="pills-tabContent">
      {% for exercise in exercises %}
        <div
          class="tab-pane fade markdown-preview {% if exercises.index(exercise) == 0 %}show active{% endif %}"
          id="pills-{{exercises.index(exercise)}}"
          role="tabpanel"
          aria-labelledby="pills-tab-{{exercises.index(exercise)}}"
          tabindex="{{exercises.index(exercise)}}"
        >
          <p class="source-text d-none">{{exercise["question"]}}</p>
          <div class="p-4 mb-3 border rounded bg-light {% if exercise.id in completed %}opacity-50 pe-none us-none{% endif %}">
            <p class="markdown"></p>
            {% if exercise["type"] == "MULTICHOISE" %}
            <p class="fw-bold mb-2">Select the correct answer(s) below</p>
            {% for answer in exercise["answers"] %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{answer[0]}}">
              <label class="form-check-label">
                {{ answer[1] }}
              </label>
            </div>
            {% endfor %}
            {% elif exercise["type"] == "OPEN" %}
            <div class="form-floating">
              <textarea class="form-control" placeholder="Type your answer here" id="openAnswer" style="height: 200px"></textarea>
              <label for="openAnswer">Type your answer here</label>
            </div>
            {% endif %}
            <div class="d-flex align-items-center justify-content-end mt-4">
              <small class="text-secondary me-auto">
                {{exercise["points"]}} {% if exercise["points"] > 0 %}Points{% else %}Point{% endif %}
              </small>
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
          {% if exercise.id in completed %}
          <b>You have already answered this exercise.</b>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    // parse markdown in every material
    document.querySelectorAll(".markdown-preview").forEach(element => {
      source = element.querySelector(".source-text");
      target = element.querySelector(".markdown");

      target.innerHTML = marked.parse(source.innerHTML);
    });
  </script>
  {% endblock %}
</div>
{% else %}
<div class="row">
  <div class="col-md-12 text-center py-4">
    <p class="text-secondary mb-2">No exercises provided for this course :)</p>
    <a href="javascript:history.back()">Go Back</a>
  </div>
</div>
{% endif %}
{% endblock content %}
