{% extends "layouts/main.html" %} {% block content %}
<div class="col-md-12 d-flex align-items-center justify-content-center mb-4">
  <img
    src="/static/android-chrome-512x512.png"
    alt="Logo"
    height="150"
    width="150"
  />
  <div class="ms-3">
    <h1 class="mb-0">OCM</h1>
    <small class="text-secondary">Register as a new user</small>
  </div>
</div>
<form class="col-md-4 offset-md-4" action="/auth/register" method="post">
  <div class="mb-3">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="John Doe"
        name="name"
      />
      <label for="name">Full Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        name="email"
      />
      <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <select
        class="form-select"
        id="userType"
        aria-label="Who are you registering as?"
        name="userType"
      >
        <option selected disabled>Select an option</option>
        <option value="STUDENT">Student</option>
        <option value="TEACHER">Teacher</option>
      </select>
      <label for="userType">Who are you registering as?</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        name="password"
      />
      <label for="password">Password</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="passwordConfirm"
        placeholder="Password"
        name="passwordConfirm"
      />
      <label for="passwordConfirm">Re-type Password</label>
    </div>
  </div>
  <div class="col-md-12 d-flex">
    <div class="col-md-6">
      <div class="d-grid">
        <button class="btn btn-primary btn-block" type="submit">
          Register
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-grid">
        <a href="/auth/login" class="btn btn-link btn-block"
          >I already have an account</a
        >
      </div>
    </div>
  </div>
</form>
{% endblock content %}
