{% extends "layouts/main.html" %} {% block content %}
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/courses">Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{course.name}}
      </li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-9">
    <h1 class="mb-4">{{ course.name }}</h1>
    <div class="markdown-preview">
      <p class="source-text d-none">{{ course.description }}</p>
      <p class="markdown">{{ course.description }}</p>
    </div>
    <div class="d-flex flex-column mt-5">
      <small class="text-secondary mb-2">
        The responsible teachers for this course:
      </small>
      <small>Esimerkki Ope 1, Esimerkki Ope 2, Esimerkki Ope 3</small>
    </div>
    <div class="d-flex flex-column mt-3">
      <small class="text-secondary mb-2"> OCM Course ID </small>
      <small>{{course.id}}</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row mb-4">
      <div class="col-md-12 mb-2">
        <b>Course Contents</b>
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          {% if isEnrolled %}
          <a href="/courses/{{course['id']}}/materials" class="nav-link">
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Course Material</div>
                View provided material
              </div>
            </li>
          </a>
          <a href="/courses/{{course['id']}}/exercises" class="nav-link">
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Exercises</div>
                Complete exercises for points
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </li>
          </a>
          <a href="/courses/{{course['id']}}/summary" class="nav-link">
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Summary</div>
                View course summary
              </div>
            </li>
          </a>
          {% else %}
          <a
            href="/courses/{{course['id']}}/materials"
            class="nav-link disabled opacity-25"
          >
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Course Material</div>
                View provided material
              </div>
            </li>
          </a>
          <a
            href="/courses/{{course['id']}}/exercises"
            class="nav-link disabled opacity-25"
          >
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Exercises</div>
                Complete exercises for points
              </div>
            </li>
          </a>
          <a
            href="/courses/{{course['id']}}/summary"
            class="nav-link disabled opacity-25"
          >
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Summary</div>
                View course summary
              </div>
            </li>
          </a>
          {% endif %}
        </ul>
      </div>
    </div>
    {% if not isEnrolled %}
    <div class="row">
      <div class="col-md-12 mb-2">
        <b>Enroll yourself into the course:</b>
      </div>
      <div class="col-md-12">
        {% if session.user %}
        <form
          class="d-flex align-items-center mt-2"
          action="/courses/{{course.id}}/join"
          method="post"
        >
          {% if not course.is_public %}
          <input
            type="text"
            class="form-control me-3"
            placeholder="Invitation Code"
            name="invitation_code"
          />
          <button type="submit" class="btn btn-primary">Enroll</button>
          {% else %}
          <div class="d-grid w-100">
            <input
              type="hidden"
              name="invitation_code"
              value="{{course.invitation_code}}"
            />
            <button type="submit" class="btn btn-primary">Enroll</button>
          </div>
          {% endif %}
        </form>
        {% else %}
        <small class="text-secondary my-3"
          >You need to be logged in to enroll!</small
        >
        {% endif%}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  // parse markdown in every material
  document.querySelectorAll(".markdown-preview").forEach(element => {
    source = element.querySelector(".source-text");
    target = element.querySelector(".markdown");

    target.innerHTML = marked.parse(source.innerHTML);
  });
</script>
{% endblock %}
